body {


}

h1
{
  text-decoration:line-through;
}
p
{
  color:red;
}

.verde
{
  color:green;
  font-size: 40px;
}

#pimportante {
  color: blue;
}

.lista-gato {
  list-style-image: url('imagenes/iconogato.png');
}

#panda {
  list-style-image: url('imagenes/pandaico.png');
}

ul {
  list-style-image: url('imagenes/pandaico.png');
}

.lista-rojo {
  background-color: red;
}

ol {
 list-style-type: armenian;
}

.listas {
  background-color: violet;
  border-style: solid;
  border-color: white;
}

.resaltado{
  background-color: violet;
}

.negrita {
  font-weight: bold;
  font-style: italic;
  background-color: green;
}

table {
  border-collapse: collapse;
}

table, td, th{
  border: 1px solid;
}

th {
  color: blue;
  border-color: black;
}

tbody {
font-style: italic;
}

input, textarea {
  color:red;
}
